<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
      <div class="nav mb-10">
        <a class="text-blue-500" href="/read">Update Users</a>
      </div>
      <h1>Create User</h1>
      <form action="/update/<%=user._id%>" method="post">
        <input
          class="px-5 py-2 border-2 border-zinc-800 bg-transparent outline-none rounded-lg"
          type="text"
          placeholder="name"
          name="name"
          value="<%=user.name%>"
        />
        <input
          class="px-5 py-2 border-2 border-zinc-800 bg-transparent outline-none rounded-lg"
          type="text"
          placeholder="email"
          name="email"
          value="<%=user.email%>"
        />
        <input
          class="px-5 py-2 border-2 border-zinc-800 bg-transparent outline-none rounded-lg"
          type="text"
          placeholder="image url"
          name="image"
          value="<%=user.image%>"
        />
        <input
          class="px-5 py-2 ml-3 bg-yellow-500 outline-none rounded-lg"
          type="submit"
          value="update User"
        />
      </form>
    </div>
  </body>
</html>
